.card__stats {

  display: flex;
  width: 100%;
  height: 77px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 33px;

  &-item {
    position: relative;
    flex-grow: 1;
    width: 100%;
    top: -33px;
    .icon-icons-01 {
      transform: rotate(90deg);
      position: absolute;
      top: 5px;
    left: -44%;
    z-index: -1;




      &::before {
        font-size: 44px;
        color: #a7a197;
      }


    }

    &--active {
     top: 0;

     .icon-icons-01 {
       &::before {
        color: #f1efed;
       }
     }
    }
  }

  &-number {
    text-align: center;
    font-size: bold;
    font-weight: bold;
    margin-top: 5px;
    font-size: 25px;
    line-height: 1;
    font-family: 'Neucha', Courier, monospace;
  }

  &-icon {
    text-align: center;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    left: -0px;
  }
}
