.card__text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 0;
  margin-top:90%;
  justify-content: center;

  &-content {
    // height: 100%;
    color: white;
    padding: 0 20px;
    font-size: 14px;
    margin-bottom: auto;
    margin-top: auto;
  }

  &-story {
    width: 100%;
  background-image: url('../assets/images/card_line.png');




  .card--race & { background-image: url('../assets/images/card_line_talent.png'); }
  .card--item & { background-image: url('../assets/images/card_bg.png'); }
  .card--wounds & { background-image: url('../assets/images/card_line_wounds.png'); }
  .card--ability & { background-image: url('../assets/images/card_line_ability.png'); }
  .card--equipment & { background-image: url('../assets/images/card_line_equipment.png'); }
  .card--quest & { background-image: url('../assets/images/card_line_quest.png'); }
  .card--event & { background-image: url('../assets/images/card_line_event.png'); }
  .card--monster & { background-image: url('../assets/images/card_line_monster.png'); }
  .card--insane & { background-image: url('../assets/images/card_line_insane.png'); }
  .card--talent & { background-image: url('../assets/images/card_line_talent.png'); }
  .card--knowledge & { background-image: url('../assets/images/card_line_wissen.png'); }




    background-position: center 246px;
    background-size: 100%;
    text-align: center;
    color: white;
    font-size: 11px;
    font-style: italic;
    padding: 10px 20px;
    color: #a29d8d;

    &--active {

      padding: 35px 20px 15px;
    }
  }

  &-inner {
    color: #d6d6d6;
  }
}
