.card__info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid white;

  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 11px;
  }

  &-icon {
    font-size: 25px;
    width: 12%;
    color: #9a6c18;
  }


  &-text {
    width: 85%;
    color: #9a6c18;
    &--small {
      font-size: 11px;
      color: #9e9c95;
    }
  }
}
