.card__title {
  position: absolute;
  top: 265px;
  width: 100%;

  text-align: center;
  width: 50%;
  background: #f1efed;
  margin: 0 25%;
  height: 32px;
  font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0;

  &-bgright,
  &-bgleft {
    position: absolute;
    top: 0;
    color: white;
    font-size: 32px;
    z-index: -1;
  }

  &-bgleft {
    right: -15px;
  }

  &-bgright {
    transform: rotate(180deg);
    left: -15px;
  }

  &-title {
    font-weight: bold;
    color: black;
  }
  &-category {
    margin-left: 10px;
  }
}

.card_title-rank {
  top: 0;
position: absolute;

width: 100%;
height: 4px;
border-bottom: 1px solid gray;
left: 0;

  &--useless {
    background-color: #d8d8d8;
  }
  &--common {
    background-color: white;
  }
  &--unusual {
    background-color:  #3cad09;
  }
  &--rare {
    background-color: #139fdc;
  }
  &--episch {
    background-color:#ad24de;
  }
  &--legendar {
    background-color: #e2c306;
  }
}
