// ==========================================================================
// Card Image
// ==========================================================================
// 1. Styles
//

$card-color-bg: $color-black;
$card-image-height: 75%;
$card-image-spacing-bottom: 100% - $card-image-height;

// 1. Styles
.card__image {


  height: 100%;
  position: absolute;
  background: black;
  z-index: -2;
  width: 100%;

  &-inner {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    z-index: -1;
    background: black;
    // height: $card-image-height;
    height: 273px;
    top: 58px;
    width: 100%;



    .card--large & {
      width: 52%;
    transform: translate(-96%);
    }
  }

  img,
  .card__image-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:after {
    content: "";
    box-shadow: inset 0px -100px 50px -25px $color-black;
    position: absolute;
    bottom: 0;
    height: $card-image-spacing-bottom;
    left: 0;
    right: 0;
    bottom: $card-image-spacing-bottom;
  }
}
