.card__layout {

z-index: -1;

  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/card_bg.png');
  background-position: center -0;
    background-size: 100%;



    .card--race & { background-image: url('../assets/images/card_bg_talent.png'); }
    .card--item & { background-image: url('../assets/images/card_bg.png'); }
    .card--wounds & { background-image: url('../assets/images/card_bg_wounds.png'); }
    .card--ability & { background-image: url('../assets/images/card_bg_ability.png'); }
    .card--equipment & { background-image: url('../assets/images/card_bg_equipment.png'); }
    .card--quest & { background-image: url('../assets/images/card_bg_quest.png'); }
    .card--event & { background-image: url('../assets/images/card_bg_event.png'); }
    .card--monster & { background-image: url('../assets/images/card_bg_monster.png'); }
    .card--insane & { background-image: url('../assets/images/card_bg_insane.png'); }
    .card--talent & { background-image: url('../assets/images/card_bg_talent.png'); }
    .card--knowledge & { background-image: url('../assets/images/card_bg_wissen.png'); }


    &--insane {
      position: absolute;
  width: 100%;
  height: 100%;
      background-image: url('../assets/images/card_insane.png');
      background-position: center -0;
        background-size: 100%;
    }

    &--mana {
      position: absolute;
  width: 100%;
  height: 100%;
      background-image: url('../assets/images/card_mana.png');
      background-position: center -0;
        background-size: 100%;
    }

}
