/* =========================================================================
// CARD STYLING
========================================================================= */
// IMPORTS
// @import "settings/icons";
@import "settings/settings";
@import "layout/layout";
@import "effects/effects";
@import "stats/stats";
@import "text/text";
@import "title/title";
@import "card/card-text";

// SETTINGS
$card-width: 378px !default;
$card-height: 614px !default;
$card-outter-spacing: 10px !default;
$card-border: $color-gray-darkest !default;
$card-background: $color-gray-lighter !default;

.card {
  display: flex;
  position: relative;
  width: $card-width;
  height: $card-height;
  margin: $card-outter-spacing;
  padding: 0;
  border: 1px solid $card-border;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $card-width;
  flex-wrap: wrap;
  background-color: $card-background;
  box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s;
  z-index: 3;

  @media (max-width: 400px)  {
    transform: scale(0.8);
  }

  @media (max-width: 300px)  {
    transform: scale(0.6);
  }
}

.cardwrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
