<div class="card card--{{cardname}}">
    <div class="cardTitle">
        {{child.title}}
        {{child.lineage.value}}
category_origin


        <div class="cardTitle-category">
            {% if child.category is not empty %}
            {{child.category.value}}
           {% endif %}

            {% if child.effect is not empty %}
            {{child.effect.value}}
           {% endif %}

            {{child.level}}

        {#
            {% if child.category_plant is not empty %}<!--Pflanze: -->{{child.category_plant.text}};{% endif %}
            {% if child.category_runes is not empty %}<!--PRunen: -->{{child.category_runes}};{% endif %}
            {% if child.category_material is not empty %}<!--PRohstoffe:--> {{child.category_material.label}};{% endif %}
            {% if child.category_essenz is not empty %}<!--PEssenz:--> {{child.category_essenz}};{% endif %}
            {% if child.category_misc is not empty %}<!--PVerschiedenes: -->{{child.category_misc}};{% endif %}
            {% if child.category_tool is not empty %}<!--PWerkzeug: -->{{child.category_tool}}{% endif %}
            {% if child.category_character is not empty %}<!--PVolk:--> {{child.category_character}}{% endif %}
            {% if child.category_lineage is not empty %}<!--PVolk:--> {{child.category_lineage}}{% endif %}
#}

<div>
{% if child.instant is not empty %}
    <div>
        <strong>Spntanfähigkeit</strong>
    </div>
{%  endif %}
{% if child.value is not empty %}
    <div class="cardValue cardValue--{{child.value}}">
        {{child.value}}
    </div>
{%  endif %}
{% if child.edition is not empty %}
    <div class="cardValue cardValue--standart">
        {{child.edition}}
    </div>
{%  endif %}

{% if child.startcard is not empty %}
    <div class="cardValue cardValue--standart">
        Startkarte
    </div>
{%  endif %}









</div>



        </div>


    </div>



{% if child.price is not empty %}
<div class="cardPrice">
{{child.price}}
<span>
Preis
</span>
</div>
{% endif %}


    <div class="cardFlag cardFlag--{{cardname}}">
        <div class="cardFlag-behind"></div>
        <div class="cardFlag-front">
            <div class="cardFlag-line"></div>
            <div class="cardFlag-item">{% if child.actions is not empty %}{{child.actions}}{% else %} - {% endif %}<span class="">Aktionen</span></div>
            <div class="cardFlag-item">{% if child.health is not empty %}{{child.health}}{% else %} - {% endif %}<span class="">Leben</span></div>
            <div class="cardFlag-item">{% if child.mana is not empty %}{{child.mana}}{% else %} - {% endif %}<span class="">Mana</span></div>
            <div class="cardFlag-item">{% if child.insane is not empty %}{{child.insane}}{% else %} - {% endif %}<span class="">Wahnsinn</span></div>
            <div class="cardFlag-item">{% if child.awarenessandfear is not empty %}{{child.awarenessandfear}}{% else %} - {% endif %}<span class="">Angst</span></div>
            <div class="cardFlag-item">{% if child.damage is not empty or child.damagemagic is not empty %}{{child.damage}}/{{child.damagemagic}}{% else %} - {% endif %}<span class="">Schaden</span></div>
            <div class="cardFlag-item">{% if child.armor is not empty or child.magicshild is not empty %}{{child.armor}}/{{child.magicshild}}{% else %} - {% endif %}<span class="">Rüstung</span></div>
            <div class="cardFlag-item">{% if child.movment is not empty %}{{child.movment}}{% else %} - {% endif %}<span class="">Bewegung</span></div>

        </div>
    </div>
    <div class="cardImage">
        <div class="cardImage-inner">
            {% block image %}{% endblock %}
        </div>
    </div>

    <div class="cardContent">
        <div class="cardContent-inner">







        {% if child.description is not empty %}
            <div class="cardContent-content  {% if child.description is not empty and child.story is not empty %}cardContent-content--border{% endif %}">
                   <strong> {{child.description}}</strong>
{% if child.category == 'Stein' %}
<br/><strong>
Ablenkung: Kann 3 Felder weit geworfen werden um einen Feind abzulenken und ihn zu den Feld laufen zu lassen.
</strong>{% endif %}











{% if child.damageeffect is not empty %}
        <div class="cardContent-content cardContent-content--bg">

{% for item in child.damageeffect.split() %}

    {% if item == 'Niederschlagen' %}
            <strong>Niedergeschlagen:</strong>Der Feind ist für eine Runde Niedergeschlagen.
    <br/>{% endif %}
    {% if item == 'Blind' %}
            <strong>Blind:</strong>Kann für eine Runde nicht angreifen
    <br/>{% endif %}
    {% if item == 'Feuer' %}
            <strong>Feuer:</strong>Der Feind verliert am anfang und am ende jerder Runde 1 Leben. Ignoriert Rüstung, jedoch nicht magische Rüstung)
    <br/>{% endif %}
    {% if item == 'Gift' %}
            <strong>Gift:</strong>Der Feind verliert 1 Leben nach der Runde. Ignoriert Magische Rüstung, jedoch nicht normale Rüstung)
    <br/>{% endif %}
    {% if item == 'Festsetzen' %}
            <strong>Festsetzen:</strong>Der Feind kann sich in seiner nächsten Aktivierung nicht bewegen
    <br/>{% endif %}
    {% if item == 'Rammen' %}
            <strong>Rammen:</strong>SChubst den Feind 2 Felder von deiner Figur aus weg
    <br/>{% endif %}
    {% if item == 'Panzerbrechen' %}
            <strong>Panzerbrechen:</strong>Durchbricht die Feindliche Rüstung und redutziert sie für den Angriff auf 0.
    <br/>{% endif %}
    {% if item == 'Magiebrechner' %}
            <strong>Magiebrechner:</strong>Durchbricht die Feindliche Magierüstung und redutziert sie für den Angriff auf 0.
    <br/>{% endif %}
    {% if item == 'Reflexion' %}
            <strong>Reflexion:</strong>Angreifer bekommt 1 Schaden nachdem er angegriffen hat
    <br/>{% endif %}


{% endfor %}
</div>
 {% endif %}










            </div>
            {% endif %}

            {% if child.story is not empty %}
            <div class="cardContent-content">

                     <i>"{{child.story}}"</i>
            </div>
             {% endif %}


{% if child.category.value == 'Verband' %}
  <div class="cardContent-content cardContent-content--bg">
    <strong>Gruppe:</strong>
    ({{child.group}})
    <br/>
    Wenn ein Mitspieler dich verbindet +1 Leben
      </div>
{% else %}


            {% if child.group is not empty %}
                <div class="cardContent-content cardContent-content--bg">
    <strong>Gruppe {{ child.group_needed ? 'yes' }}:</strong>
    ({{child.group}})
    <br/>
    {{child.group_text}}
                </div>
            {% endif %}
                {% endif %}













  {% if child.canbeequipped is not empty %}
                <div class="cardContent-content cardContent-content--bg">
                    <strong>Kann Ausgerüstet werden:</strong>
                    <br/>
                    {{child.canbeequipped}}
                </div>
            {% endif %}

            {#
            {% if child.item is not empty %}
                <div class="cardContent-content cardContent-content--bg">
                    <strong>Gegenstand {{ child.item_needed ? 'yes' }}:</strong>
                    ({{child.item}})
                    <br/>
                    {{child.item_text}}
                </div>
            {% endif %}
            #}


{% if child.item_upgrade is empty %}
       {% for test in site.find('produktion').children() %}
            {% for item in test.item.split() %}
            {% if child.title == item %}
   <div class="cardContent-content cardContent-content--bg">
            <strong>Wird benötigt für:</strong> Produktionszeit: {{test.production}}<br/>
            <strong>- {{test.title}}:</strong>
            {{test.item.query.text}}
            <br/>
   </div>
            {% endif %}
            {% endfor %}
        {% endfor %}
        {% for test in site.find('produktion-ausrustung').children()  %}
            {% for item in test.item.split() %}
            {% if child.title == item %}
   <div class="cardContent-content cardContent-content--bg">
            <strong>Wird benötigt für:</strong> Produktionszeit: {{test.production}}<br/>
            <strong>- {{test.title}}:</strong>
            {{test.item.query.text}}
            <br/>
   </div>
            {% endif %}
            {% endfor %}
        {% endfor %}


{% else %}
    <div class="cardContent-content cardContent-content--bg">
    <strong>Gegenstand Upgraden:</strong>
    ({{child.item}})
    <br/>
    {{child.item_text}}
    </div>
{% endif %}

            {% if child.drawcard_character is not empty or
            child.drawcard_talent is not empty or
            child.drawcard_item is not empty or
            child.drawcard_ability is not empty or
            child.drawcard_equipment is not empty or
            child.drawcard_event is not empty or
            child.drawcard_insane is not empty or
            child.drawcard_monster is not empty or
            child.drawcard_knowledge is not empty or
            child.drawcard_wounds is not empty or
            child.drawcard_quest is not empty or
            child.drawcard_npc is not empty

             %}
                <div class="cardContent-content cardContent-content--bg">
                    <strong>Karten: Benötigt? {{child.drawcard_need}} gehört zu?? {{child.drawcard_isfrom}}</strong>
                    {{child.drawcard_character}}
                    {{child.drawcard_talent}}
                    {{child.drawcard_item}}
                    {{child.drawcard_ability}}
                    {{child.drawcard_equipment}}
                    {{child.drawcard_event}}
                    {{child.drawcard_insane}}
                    {{child.drawcard_monster}}
                    {{child.drawcard_knowledge}}
                    {{child.drawcard_wounds}}
                     {{child.drawcard_quest}}
                      {{child.drawcard_npc}}
                </div>
            {% endif %}
            {% if child.require_health is not empty or child.require_health is not empty or child.require_health is not empty %}
                <div class="cardContent-content cardContent-content--bg">
                    <strong>Weitere Vorraussetzungen:</strong>
                    {% if child.require_health > "-" %}
                    <br/>Leben:   {{child.require_health}}
                    {% endif %}
                    {% if child.require_mana > "-" %}
                    <br/>Mana:   {{child.require_mana}}
                    {% endif %}
                    {% if child.require_insane > "-" %}
                    <br/>Wahnsinn:   {{child.require_insane}}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

</div>
