<article class="card card--{{child.variant}}">

    {# Layout #}
    {% include '@snippets/components/cards/layout/layout.twig' %}

    {# Titel #}
    {% include '@snippets/components/cards/title/title.twig' %}

    {# Stats #}
    {% include '@snippets/components/cards/stats/stats.twig' %}

    {# Text #}
    <div class="card__text">
        <div class="card__text-content">
            <div class="card__text-inner">

                {# Text - description #}
                {% if child.description is not empty %}
                    <div class="card__info-item">
                        <strong>{{child.description | raw}}</strong>
                    </div>
                {% endif %}

                {# Effekte #}
                {% if child.states is not empty %}
                    {% for item in child.states.split() %}
                    {% set xxx = false %}
                        {% include '@snippets/components/cards/effects/effects.twig' %}
                    {% endfor %}
                {% endif %}
                {% if child.statesself is not empty %}
                    {% for item in child.statesself.split()  %}
                    {% set xxx = true %}
                        {% include '@snippets/components/cards/effects/effects.twig' %}
                    {% endfor %}
                {% endif %}

                {# Verschiedene Effekte Misc #}
                {% include '@snippets/components/cards/effects/effectsmisc.twig' %}

            </div>
        </div>

        {# Story #}
        <div class="card__text-story {% if child.story is not empty %} card__text-story--active {% endif %}">
            {% if child.story is not empty %}
                <i>"{{child.story | raw }}"</i>
            {% endif %}
        </div>

    </div>
</article>
