/* =========================================================================
============ CARD STATS
========================================================================= */

$card-stats-background-color: $color-gray-lighter;


.card__stats {
  display: flex;
  position: absolute;
  top: 33px;
  width: 100%;
  height: 77px;
  margin: 0;
  overflow: hidden;

  &-item {
    position: relative;
    top: -33px;
    width: 100%;
    flex-grow: 1;

    &--active {
      top: 0;

      .icon-icons-00 {
        &::before {
          color: $card-stats-background-color;
        }
      }
    }

    .icon-icons-00 {
      position: absolute;
      top: 5px;
      left: -44%;
      transform: rotate(90deg);
      z-index: -1;

      &::before {
        color: #a7a197;
        font-size: 44px;
      }
    }
  }

  &-number {
    text-align: center;
    font-size: bold;
    font-weight: bold;
    margin-top: 5px;
    font-size: 25px;
    line-height: 1;
    font-family: 'Neucha', Courier, monospace;
  }

  &-icon {
    text-align: center;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    left: -0px;
  }
}
