


    {# Stats #}
    <div class="card__stats">
        <div class="card__stats-item {% if child.mana is not empty %}card__stats-item--active{% endif %}">
            <div class="icon-icons-00"></div>
            <div class="card__stats-number">{% if child.mana is not empty %}{{child.mana}}{% endif %}</div>
            <div class="card__stats-icon icon-icons-01"></div>
        </div>
        <div class="card__stats-item {% if child.health is not empty %}card__stats-item--active{% endif %}">
            <div class="icon-icons-00"></div>
            <div class="card__stats-number">{% if child.health is not empty %}{{child.health}}{% endif %}</div>
            <div class="card__stats-icon icon-icons-20"></div>
        </div>
        <div class="card__stats-item {% if child.damage is not empty %}card__stats-item--active{% endif %}">
            <div class="icon-icons-00"></div>
            <div class="card__stats-number">{% if child.damage is not empty %}{{child.damage}}{% endif %}</div>
            <div class="card__stats-icon icon-icons-14"></div>
        </div>
        <div class="card__stats-item {% if child.damagemagic is not empty %}card__stats-item--active{% endif %}">
            <div class="icon-icons-00"></div>
            <div class="card__stats-number">{% if child.damagemagic is not empty %}{{child.damagemagic}}{% endif %}</div>
            <div class="card__stats-icon icon-icons-13"></div>
        </div>
        <div class="card__stats-item {% if child.armor is not empty %}card__stats-item--active{% endif %}">
            <div class="icon-icons-00"></div>
            <div class="card__stats-number">{% if child.armor is not empty %}{{child.armor}}{% endif %}</div>
            <div class="card__stats-icon icon-icons-03"></div>
        </div>
        <div class="card__stats-item {% if child.magicshild is not empty %}card__stats-item--active{% endif %}">
            <div class="icon-icons-00"></div>
            <div class="card__stats-number">{% if child.magicshild is not empty %}{{child.magicshild}}{% endif %}</div>
            <div class="card__stats-icon icon-icons-07"></div>
        </div>
        <div class="card__stats-item {% if child.fear is not empty %}card__stats-item--active{% endif %}">
            <div class="icon-icons-00"></div>
            <div class="card__stats-number">{% if child.fear is not empty %}{{child.fear}}{% endif %}</div>
            <div class="card__stats-icon icon-icons-22 "></div>
        </div>
        <div class="card__stats-item {% if child.insane is not empty %}card__stats-item--active{% endif %}">
            <div class="icon-icons-00"></div>
            <div class="card__stats-number">{% if child.insane is not empty %}{{child.insane}}{% endif %}</div>
            <div class="card__stats-icon icon-icons-06"></div>
        </div>
    </div>
