@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot');
  src:  url('../assets/fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf') format('truetype'),
    url('../assets/fonts/icomoon.woff') format('woff'),
    url('../assets/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons_01:before {
  content: "\e900";
}
.icon-icons-02:before {
  content: "\e901";
}
.icon-icons-03:before {
  content: "\e902";
}
.icon-icons-04:before {
  content: "\e903";
}
.icon-icons-05:before {
  content: "\e904";
}
.icon-icons-06:before {
  content: "\e905";
}
.icon-icons-07:before {
  content: "\e906";
}
.icon-icons-08:before {
  content: "\e907";
}
.icon-icons-09:before {
  content: "\e908";
}
.icon-icons-10:before {
  content: "\e909";
}
.icon-icons-11:before {
  content: "\e90a";
}
.icon-icons-12:before {
  content: "\e90b";
}
.icon-icons-13:before {
  content: "\e90c";
}
.icon-icons-14:before {
  content: "\e90d";
}
.icon-icons-15:before {
  content: "\e90e";
}
.icon-icons-16:before {
  content: "\e90f";
}
