{% block aboutInfo %}
    <p>
        Das Projekt <a href="{{ site.url }}" class="link">{{ site.title }}</a> ist ein seit ende
        2019 entwickeltes fiktives High-Fantasy {{ site.gameGenre }} für {{ site.gamePlayers }} Spieler.
        Derzeit umfasst das Projekt ca. {{site.children.children.listed().count}} Karten.
        Mit einer fülle an tapferen Wanderern, einzigartigen Talenten, unbekannten Schrecken und
        spannenden Abententeurn bietet es eine abwechslungsreiche Abenteuer und fazinierende düstere Reise
        in die gebrochenen Lande von Lavandia.
        Nun liegt es an euch, in die Dunkleheit zu ziehen und zu erkunden was sich hinter den Schatten verbirgt.
    </p>
{% endblock %}
