/* ICONFONT
============================================================================ */
/* stylelint-disable */

@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot');
    src:  url('../assets/fonts/icomoon.eot#iefix') format('embedded-opentype'),
        url('../assets/fonts/icomoon.ttf') format('truetype'),
        url('../assets/fonts/icomoon.woff') format('woff'),
        url('../assets/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icons-00:before {
  content: "\e910";
}
.icon-icons-01:before {
  content: "\e900";
}
.icon-icons-02:before {
  content: "\e901";
}
.icon-icons-03:before {
  content: "\e902";
}
.icon-icons-04:before {
  content: "\e903";
}
.icon-icons-05:before {
  content: "\e904";
}
.icon-icons-06:before {
  content: "\e905";
}
.icon-icons-07:before {
  content: "\e906";
}
.icon-icons-08:before {
  content: "\e907";
}
.icon-icons-09:before {
  content: "\e908";
}
.icon-icons-10:before {
  content: "\e909";
}
.icon-icons-11:before {
  content: "\e90a";
}
.icon-icons-12:before {
  content: "\e90b";
}
.icon-icons-13:before {
  content: "\e90c";
}
.icon-icons-14:before {
  content: "\e90d";
}
.icon-icons-15:before {
  content: "\e90e";
}
.icon-icons-16:before {
  content: "\e90f";
}
.icon-sgsg-17:before {
  content: "\e911";
}
.icon-sgsg-24:before {
  content: "\e912";
}
.icon-sgsg-23:before {
  content: "\e913";
}
.icon-sgsg-21:before {
  content: "\e914";
}
.icon-sgsg-20:before {
  content: "\e915";
}
.icon-sgsg-19:before {
  content: "\e916";
}
.icon-sgsg-18:before {
  content: "\e917";
}
.icon-sgsg-22:before {
  content: "\e918";
}
.icon-sgsg-25:before {
  content: "\e919";
}
.icon-sgsg-26:before {
  content: "\e91a";
}
.icon-sgsg-27:before {
  content: "\e91b";
}
.icon-sgsg-28:before {
  content: "\e91c";
}

/* stylelint-enable */

