/* SETTINGS
============================================================================
	1. Basic Variables
	2. Color Variables
	3. Breakpoints
	4. Spacing
    5. Grid
============================================================================ */
//------------------------------------
//      #Font Variables
//------------------------------------

// Font-Family
$font-family-primary:           "Raleway", sans-serif !default;
$font-family-second:            "Lato", sans-serif !default;

// Font-Sizes
$font-size-default:             10px !default; // default website fontsize
$font-size-tiny:                1.2rem !default;
$font-size-small:               1.4rem !default;
$font-size-medium:              1.6rem !default;
$font-size-regular:             1.8rem !default;
$font-size-base:                $font-size-regular !default; // default font-size
$font-size-large:               2.2rem !default;
$font-size-xlarge:              3rem !default;
$font-size-huge:                4rem !default;

// Line-Height
$line-height-none:              1 !default;
$line-height-base:              1.5 !default;

// Font-Weight 00,300i,400,400i,700,700i
$font-weight-lighter:           100 !default;
$font-weight-light:             300 !default;
$font-weight-base:              400 !default;
$font-weight-bold:              700 !default;

//------------------------------------
//      #Color Variables
//------------------------------------

$color-primary:                 #1F849C !default;
$color-primary-light:           #27A8C7 !default;
$color-primary-dark:            #124E5C !default;

$color-success:                 #3C763D !default;
$color-info:                    #31708F !default;
$color-warning:                 #C1B14F !default;
$color-alert:                   #A94442 !default;

$color-gray-base:               #999999 !default;
$color-gray-dark:               darken($color-gray-base, 28%) !default;
$color-gray-darker:             darken($color-gray-base, 42%) !default;
$color-gray-darkest:            darken($color-gray-base, 53.5%) !default;
$color-gray-light:              lighten($color-gray-base, 20%) !default;
$color-gray-lighter:            lighten($color-gray-base, 30%) !default;
$color-gray-lightest:           lighten($color-gray-base, 38%) !default;

$color-white:                   $color-gray-lightest !default;
$color-black:                   $color-gray-darkest !default;

// Use this variable for font-color
$color-font-base:               $color-gray-lightest !default;
$color-font-light:              $color-gray-light !default;
$color-font-dark:               $color-gray-base !default;

//------------------------------------
//      #Misc Variables
//------------------------------------

$z-index-max: 9999 !default;

//------------------------------------
//  #Breakpoints
/*------------------------------------
breakpoints from /node_modules/sass-mq/_mq.scss
Usage example:
    @include mq($from: mobile, $until: tablet) {
        background: red;
    }
    @include mq($from: tablet) {
        background: green;
    }
------------------------------------*/

$mq-breakpoints: (
    null:                       0px,
    xs:                         576px,
    sm:                         576px,
    md:                         768px,
    lg:                         992px,
    xl:                         1200px
) !default;

$mq-container-width: (
    null:                       520px,
    xs:                         520px,
    sm:                         520px,
    md:                         760px,
    lg:                         760px,
    xl:                         1200px
) !default;

//------------------------------------
//  #Spacing
/*------------------------------------
For usage see spacing.scss
------------------------------------*/
$spacing-default:               5px !default;
$spacing-breakpoint-seperator:  \@ !default;

$spacing-none:                 0 !default;
$spacing-tiny:                  $spacing-default !default;           // 5px
$spacing-small:                 $spacing-default * 2 !default;       // 10px
$spacing-medium:                $spacing-default * 4 !default;       // 20px
$spacing-large:                 $spacing-default * 6 !default;       // 30px
$spacing-huge:                  $spacing-default * 8 !default;       // 40px

//------------------------------------
//  #Grid
/*------------------------------------
For usage see grid.scss

either the settings of $grid-container-breakpoints or those of $mq-container-width
------------------------------------*/
$grid-columns:                  12 !default;
$grid-columns-gutter:           $spacing-small !default;
$grid-columns-spacing-inner:    $spacing-medium !default;
$grid-container-gutter:         $spacing-small !default;

$grid-container-breakpoints:    (sm, md, lg) !default;
$grid-get-breakpoints:          $mq-container-width !default;
// $grid-get-breakpoints:       $grid-container-breakpoints !default;
