/* Typografie
  ========================================================================= */
/*------------------------------------
Special typo stylings
------------------------------------*/

/**
* Remove Button Styling
* scss placeholder
*/
%buttonRemoveStyling {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    color: #FFF;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

