

{% if item == "Niedergeschlagen" %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-12"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Niedergeschlagen:</strong><br/>
            <p class="card__info-text--small"> Der Feind ist für eine Runde Niedergeschlagen.</p>
        </div>
    </div>
{% endif %}
{% if item == 'Blind' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-01"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Blind:</strong><br/>
            <p class="card__info-text--small">
                Kann für eine Runde nicht angreifen.
            </p>
        </div>
    </div>
{% endif %}
{% if item == 'Brennen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-16"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Feuer:</strong><br/>
            <p class="card__info-text--small">
                Der Feind verliert am anfang und am ende jerder Runde 1 Leben. Doppelschaden bei Rüstung.
            </p>
        </div>
    </div>
{% endif %}
{% if item == 'Vergiftet' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-08"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Gift:</strong><br/>
            <p class="card__info-text--small">
                Der Feind verliert 1 Leben nach der Runde. Doppelterschaden bei Magieschild
            </p>
        </div>
    </div>
{% endif %}
{% if item == 'Festsetzen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-10"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Festsetzen:</strong><br/>
            <p class="card__info-text--small">
                Der Feind kann sich in seiner nächsten Aktivierung nicht bewegen
            </p>
        </div>
    </div>
{% endif %}
{% if item == 'Rammen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-11"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Rammen:</strong><br/>
            <p class="card__info-text--small">
                SChubst den Feind 2 Felder von deiner Figur aus weg
            </p>
        </div>
    </div>
{% endif %}
{% if item == 'Panzerbrechen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-03"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Panzerbrechen:</strong><br/>
            <p class="card__info-text--small">
                Verdoppelt den Schaden bei Rüstung.
            </p>
        </div>
    </div>
{% endif %}
{% if item == 'Magiebrechner' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-02"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Magiebrechner:</strong><br/>
            <p class="card__info-text--small">
                Verdoppelt den Schaden bei Magischemschild.
            </p>
        </div>
    </div>
{% endif %}
{% if item == 'Reflexion' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-23"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Reflexion:</strong><br/>
            <p class="card__info-text--small">Angreifer bekommt 1 Schaden nachdem er angegriffen hat</p>
        </div>
    </div>
{% endif %}
{% if item == 'Unsichtbar' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-01"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Unsichtbar:</strong><br/>
            <p class="card__info-text--small">Ihr köntn nicht als Ziel ausgewählt werden</p>
        </div>
    </div>
{% endif %}
{% if item == 'Benommen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-01"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Benommen:</strong><br/>
            <p class="card__info-text--small">Stärke wird u 1 Stufe verringert</p>
        </div>
    </div>
{% endif %}
{% if item == 'Konzentration' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-01"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Konzentration:</strong><br/>
            <p class="card__info-text--small">Erhalten einen zusätzlichen Aktionspunkt</p>
        </div>
    </div>
{% endif %}
{% if item == 'Verspottet' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-01"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Verspottet:</strong><br/>
            <p class="card__info-text--small">Der Feind muss als nächstes Zeil euch auswählen</p>
        </div>
    </div>
{% endif %}
{% if item == 'Zorn' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-01"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Zorn:</strong><br/>
            <p class="card__info-text--small">Eure nächste Fertigkeit verursacht 50% mehr Schaden (auffrunden)</p>
        </div>
    </div>
{% endif %}
{% if item == 'Wiederstand' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Wiederstand:</strong><br/>
            <p class="card__info-text--small">Entfernt einen Zustand</p>
        </div>
    </div>
{% endif %}
{% if item == 'Bluten' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Bluten:</strong><br/>
            <p class="card__info-text--small">Erledet am ende der Runde 1 Schaden. Kann nicht geblockt werden</p>
        </div>
    </div>
{% endif %}
{% if item == 'Verflucht' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Verflucht:</strong><br/>
            <p class="card__info-text--small">Generiert im nächsen Zug 1 Wahnsinn</p>
        </div>
    </div>
{% endif %}
{% if item == 'Stille' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Stille:</strong><br/>
            <p class="card__info-text--small">Kann bei der nächsten Aktivierung keine Fähigkeit spielen</p>
        </div>
    </div>
{% endif %}
{% if item == 'Ablenkung' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Ablenkung:</strong><br/>
            <p class="card__info-text--small">Läßt den nächstgelegenden Feind auf das Ziel laufen bei der nächsten Aktivierung</p>
        </div>
    </div>
{% endif %}
{% if item == 'Markierung' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Markierung:</strong><br/>
            <p class="card__info-text--small">Das Ziel erlediet 1 zusätzlichen Schaden bei einem Angriff</p>
        </div>
    </div>
{% endif %}
{% if item == 'Verlangsamt' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Verlangsamt:</strong><br/>
            <p class="card__info-text--small">Benötigt eine zusätzle Aktion um sich zu bewegen</p>
        </div>
    </div>
{% endif %}
{% if item == 'Hinterhalt' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Hinterhalt:</strong><br/>
            <p class="card__info-text--small">Nächster Angriff +2 Schaden</p>
        </div>
    </div>
{% endif %}
{% if item == 'Lebensregeneration' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Lebensregeneration:</strong><br/>
            <p class="card__info-text--small">Erhalte am ende der Runde 1 Leben. Dauer 2 Runden</p>
        </div>
    </div>
{% endif %}
{% if item == 'Entwaffnen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Entwaffnen:</strong><br/>
            <p class="card__info-text--small">Kann nicht mit Waffe angreifen</p>
        </div>
    </div>
{% endif %}
{% if item == 'Lebensentzug' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Lebensentzug:</strong><br/>
            <p class="card__info-text--small">Erhalte so viel Leben Schaden verursacht wird (Nur Lebenspunkte)</p>
        </div>
    </div>
{% endif %}
{% if item == 'Ausweichen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Ausweichen:</strong><br/>
            <p class="card__info-text--small">1 Feld bewegen. Ignoriert  gezielte Angriffe</p>
        </div>
    </div>
{% endif %}
{% if item == 'Ausruhen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Ausruhen:</strong><br/>
            <p class="card__info-text--small"></p>
        </div>
    </div>
{% endif %}
{% if item == 'Entspannen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Entspannen:</strong><br/>
            <p class="card__info-text--small"></p>
        </div>
    </div>
{% endif %}
{% if item == 'Feuerstelle' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Feuerstelle TOKEN:</strong><br/>
            <p class="card__info-text--small">Plazieren eine Feuerstelle</p>
        </div>
    </div>
{% endif %}
{% if item == 'Falle' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Falle TOKEN:</strong><br/>
            <p class="card__info-text--small">Plaziere eine Falle</p>
        </div>
    </div>
{% endif %}
{% if item == 'Rauch' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Rauch TOKEN:</strong><br/>
            <p class="card__info-text--small">Plaziere einen SMoke token</p>
        </div>
    </div>
{% endif %}
{% if item == 'Fähigkeit abwerfen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Fähigkeit abwerfen:</strong><br/>
            <p class="card__info-text--small">Werf einen Fähigkeit ab</p>
        </div>
    </div>
{% endif %}
{% if item == 'Fähigkeit ziehen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Fähigkeit ziehen:</strong><br/>
            <p class="card__info-text--small">ziehen einen Fähigkeit ab</p>
        </div>
    </div>
{% endif %}
{% if item == 'Gegenstand abwerfen' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Gegenstand abwerfen:</strong><br/>
            <p class="card__info-text--small">WErf einen Gegenstand ab</p>
        </div>
    </div>
{% endif %}
{% if item == 'Gegenstand Endecken 1' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Gegenstand Endecken 1:</strong><br/>
            <p class="card__info-text--small">Endeckte 1 Gegenstände</p>
        </div>
    </div>
{% endif %}
{% if item == 'Gegenstand Endecken 2' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Gegenstand Endecken 2:</strong><br/>
            <p class="card__info-text--small">Endeckte 2 Gegenstände</p>
        </div>
    </div>
{% endif %}
{% if item == 'Gegenstand Endecken 3' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Gegenstand Endecken 3:</strong><br/>
            <p class="card__info-text--small">Endeckte 3 Gegenstände</p>
        </div>
    </div>
{% endif %}
{% if item == 'Sofortzauber' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Sofortzauber:</strong><br/>
            <p class="card__info-text--small">Kann zu jederzeit ausgespielt werden</p>
        </div>
    </div>
{% endif %}
{% if item == 'Ereginiss aufdecken' %}
    <div class="card__info-item">
        <div class="card__info-icon icon-icons-18"></div>
         <div class="card__info-text"> {% if xxx == true %} SELBST{% endif %}
            <strong>Ereginiss aufdecken:</strong><br/>
            <p class="card__info-text--small">KDeckt ein RUnden Ereignsiss auf</p>
        </div>
    </div>
{% endif %}
