  {# Flächeneffekt #}
                {% if child.aoe is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-18"></div>
                        <div class="card__info-text">
                            <strong>Flächeneffekt:</strong><br/>
                            <p class="card__info-text--small">{{child.aoe}}</p>
                        </div>
                    </div>
                {% endif %}

                {# Plazieren #}
                {% if child.placed is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-18"></div>
                        <div class="card__info-text">
                            <strong>Muss plaziert werden:</strong><br/>
                            <p class="card__info-text--small">Kann in einer Weichweite von 1 aufgestellt werden</p>
                        </div>
                    </div>
                {% endif %}

                {# Ziele #}
                {% if child.targets is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-18"></div>
                        <div class="card__info-text">
                            <strong>Ziele:</strong><br/>
                            <p class="card__info-text--small">{{child.targets}} können ausgewählt werden</p>
                        </div>
                    </div>
                {% endif %}

                {# Spontan #}
                {% if child.instant is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-29"></div>
                        <div class="card__info-text">
                            <strong>Spontan:</strong><br/>
                            <p class="card__info-text--small">Kann sofort ausgespielt werden</p>
                        </div>
                    </div>
                {% endif %}

                {# Reichweite #}
                {% if child.range is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-21"></div>
                        <div class="card__info-text">
                            <strong>Reichweite:</strong> {{child.range}}<br/>
                        </div>
                    </div>
                {% endif %}

                {# Waffenschaden #}
                {% if child.weapondamage is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-21"></div>
                        <div class="card__info-text">
                            <strong>Benötigt Waffe:</strong><br/>
                            <p class="card__info-text--small">Plus Waffenschaden</p>
                        </div>
                    </div>
                {% endif %}

                {# Würfel Wahnsinn #}
                {% if child.insanerandom is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-21"></div>
                        <div class="card__info-text">
                            <strong>Wahnsins Modifikaor:</strong><br/>
                            <p class="card__info-text--small">Würfel einen w20 und w6 und schaue in der Tabelle nach dem Ergebniss</p>
                              {% if child.insanerandomtext is not empty %}
                                    <strong>Wahnsins Besonderheiten:</strong><br/>
                                    <p class="card__info-text--small">{{child.insanerandomtext}}</p>
                              {% endif %}
                           </div>
                    </div>
                {% endif %}

                {# Monster Fähigkeit #}
                {% if child.monsterability is not empty %}
                 {% for item in child.monsterability.toStructure %}
                    <div class="card__info-item">
                        <div class="card__info-icon">{{item.number}}</div>
                        <div class="card__info-text">
                            {% if item.title is not empty %}
                                <strong>{{item.title}} :</strong><br/>
                            {% endif %}
                            <p class="card__info-text--small">
                                {% if item.text is not empty %}
                                    {{item.text | raw}}<br/>
                                {% endif %}
                                {% if item.states is not empty %}
                                    <strong>{{item.states}}</strong><br/>
                                {% endif %}
                                {% if item.statesself is not empty %}
                                    <strong>SELBST: {{item.statesself}}</strong><br/>
                                {% endif %}
                                {% if item.targets is not empty %}
                                    <strong>Reichweite: {{item.targets}}</strong><br/>
                                {% endif %}
                                {% if item.range is not empty %}
                                    <strong>Ziele: {{item.range}}</strong><br/>
                                {% endif %}
                                {% if item.aoe is not empty %}
                                    <strong>Flächeneffect: {{item.aoe}}</strong><br/>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}

                {# Wahnsinns Random #}
                {% if child.insanestats is not empty %}
                 {% for item in child.insanestats.toStructure %}
                    <div class="card__info-item">
                        <div class="card__info-icon">{{item.number}}</div>
                        <div class="card__info-text">
                            <strong>{{item.title}} :</strong><br/>
                            <p class="card__info-text--small">
                                {% if item.text is not empty %}
                                    {{item.text | raw}}<br/>
                                {% endif %}
                                {% if item.states is not empty %}
                                    <strong>{{item.states}}</strong><br/>
                                {% endif %}
                                {% if item.statesself is not empty %}
                                    <strong>SELBST: {{item.statesself}}</strong><br/>
                                {% endif %}
                                {% if item.targets is not empty %}
                                    <strong>Reichweite: {{item.targets}}</strong><br/>
                                {% endif %}
                                {% if item.range is not empty %}
                                    <strong>Ziele: {{item.range}}</strong><br/>
                                {% endif %}
                                {% if item.aoe is not empty %}
                                    <strong>Flächeneffect: {{item.aoe}}</strong><br/>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}

                {# Vorraussetzungen #}
                {% if child.require_health is not empty or child.require_health is not empty or child.require_health is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-25"></div>
                        <div class="card__info-text">
                            <strong>Vorraussetzungen:</strong><br/>
                            {% if child.require_health > "-" %}
                                <p class="card__info-text--small">
                                <strong>Leben:</strong>   {{child.require_health}}
                                </p>
                            {% endif %}
                            {% if child.require_mana > "-" %}
                                <p class="card__info-text--small">
                                <br/><strong>Mana:</strong>   {{child.require_mana}}
                                </p>
                            {% endif %}
                            {% if child.require_insane > "-" %}
                                <p class="card__info-text--small">
                                <strong>Wahnsinn:</strong>   {{child.require_insane}}
                                </p>
                            {% endif %}
                            {% if child.require_weapon > "-" %}
                                <p class="card__info-text--small">
                                <strong>Waffe:</strong>   {{child.require_insane}}
                                </p>
                            {% endif %}
                            {% if child.require_text is not empty %}
                                <p class="">
                                  {{child.require_text}}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {# Preis #}
                {% if child.price is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-25"></div>
                        <div class="card__info-text">
                            <strong>Preis:</strong> {{child.price}}<br/>
                        </div>
                    </div>
                {% endif %}

                {# Gegner #}
                {% if child.enemy is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-25"></div>
                        <div class="card__info-text">
                            <strong>Gegner:</strong> <br/>
                            <p class="card__info-text--small">Ist ein Gegner</p>
                        </div>
                    </div>
                {% endif %}

                 {# Beim ziehen abgehandelt #}
                {% if child.ifdrawing is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-25"></div>
                        <div class="card__info-text">
                            <strong>Beim ziehen abgehandelt:</strong> <br/>
                            <p class="card__info-text--small">I</p>
                        </div>
                    </div>
                {% endif %}

                {# Passiv #}
                {% if child.passiv is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-25"></div>
                        <div class="card__info-text">
                            <strong>Passiv:</strong> {{child.passiv}}<br/>
                        </div>
                    </div>
                {% endif %}

                {# Ausrüstung #}
                {% if child.category_body is not empty  %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-03"></div>
                        <div class="card__info-text">
                            <strong>Ausrüstung:</strong><br/>
                            <p class="card__info-text--small"><strong>{{child.category_body}} </strong></p>
                        </div>
                    </div>
                {% endif %}

                {# Einzelanwedung #}
                {% if child.singleuse is not empty  %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-21"></div>
                        <div class="card__info-text">
                            <strong>Einmalige Anwendung:</strong><br/>
                            <p class="card__info-text--small">Kann nur einmal angewendet werden. Zählt nicht zum Kartenlimit.</p>
                        </div>
                    </div>
                {% endif %}

                {# Gruppe #}
                {% if child.category.value == 'Verband' %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-28"></div>
                        <div class="card__info-text">
                            <strong>Gruppe:</strong><br/>
                            <p class="card__info-text--small"> Wenn ein Mitspieler dich verbindet +1 Leben</p>
                        </div>
                    </div>
                {% endif %}

                {# Herstellung #}
                {% if child.item_production is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-17"></div>
                        <div class="card__info-text">
                            <strong>Herstellung:</strong>
                             {% if child.item_productioninround is not empty %}
                            Im Spiel herstellung möglich
                             {% endif %}<br/>
                            {% for items in child.craftingproduction.toStructure %}
                                <p class="card__info-text--small">
                                    {% for item in items.category_body.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_enemy.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_essenz.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_jobs.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_material.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_misc.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_origin.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_plants.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_scripts.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_tools.split() %}{{item}}, {% endfor %}
                                    {% for item in items.category_weapons.split() %}{{item}}, {% endfor %}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {# Produktion
                {% if child.canbecrafted is not empty %}
                <div class="card__info-item">
                <div class="card__info-icon icon-icons-17"></div>
                <div class="card__info-text">
                <strong>Herstellung:</strong><br/>
                {% for eee in site.children()  %}
                {% for test in eee.children()  %}
                {% for item in test.item.split() %}
                {% if child.category ~ ' ' ~ child.level == item %}
                <p class="card__info-text--small"><strong>{{test.title}}:</strong> ( <strong>{{test.production}}</strong> ): {{test.item.query.text}}</p>
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% endfor %}
                </div></div>
                {% endif %}
                #}

                {% if child.item_upgrade is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-icon icon-icons-21"></div>
                        <div class="card__info-text">
                            <strong>Upgrade:</strong>({{child.item}})<br/>
                            <p class="card__info-text--small"> {{child.item_text}}</p>
                        </div>
                    </div>
                {% endif %}

                {% if child.category_character is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-text">
                            <strong>Startkarte von:</strong>
                            <span class="card__info-text--small">
                                 {% for item in child.category_character.split() %}
                                    {{item | raw}}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                {% endif %}
                {% if child.category_talent is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-text">
                            <strong>Startkarte von:</strong>
                            <span class="card__info-text--small">
                            {% for item in child.category_talent.split() %}
                                {{item}}
                            {% endfor %}
                            </span>
                        </div>
                    </div>
                {% endif %}
                {% if child.startcard is not empty %}
                    <div class="card__info-item">
                        <div class="card__info-text">
                            <strong>Startkarte: Ja</strong>
                        </div>
                    </div>
                {% endif %}
