
    {# Title #}
    <div class="card__title">
        <div class="card__title-bgright icon-icons-00"></div>
        <div class="card__title-bgleft icon-icons-00"></div>
        <div class="card__title-title">
            <div class="card_title-rank card_title-rank--{{child.rank}}"></div>
            {{child.title}} {{child.category_origin.value}}
        </div>
        <div class="card__title-category">
            {{child.category_body}}
            {{child.category_essenz}}
            {{child.category_jobs}}
            {{child.category_materials}}
            {{child.category_plants}}
            {{child.category_scripts}}
            {{child.category_tools}}
            {{child.category_misc}}
{% if child.item_crystal is not empty %}
            ({{child.item_crystal}})
            {% endif %}
{% if child.level is not empty %}
            - {{child.level}}
             {% endif %}
        </div>

    </div>
