{% extends '@snippets/shared/default.twig' %}
{% set theme = 'light'%}
{% set maxwidth = true %}

{% block full %}


    <div class="cards">
        <img class="cards-image" src="{{ page.images(page.background) }}">
        <h1 class="cards-title">
            {{page.title}}
        </div>
    </div>

    <style>
        .cards {
            height: 500px;
            max-height: 40vh;
            margin-bottom: 50px;
                margin-top: 60px;
                overflow: hidden;
    position: relative;
        display: flex;
    justify-content: center;
    align-items: center;
        }

        .cards-image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }

        .cards-title {
            color: white;
                font-weight: normal;
    font-size: 40px;
    text-shadow: 0 0 11px black;
        }
    </style>


    <div class="cardwrapper card--{{page.variant}}">
        {% for child in page.children() %}

                {% include '@snippets/components/cards/card.twig' %}

        {% endfor %}

    </div>
{% endblock %}
