{% extends '@snippets/shared/default.twig' %}
{% set theme = 'dark'%}

{% block full %}
    {% if page.sitemodule is not empty %}
        {% set pageSiteModule = "@snippets/shared/module/" ~ page.sitemodule ~ "/" ~ page.sitemodule ~ ".twig" %}
        {% include pageSiteModule %}
    {% endif %}
{% endblock %}
