.card__layout {

  z-index: -1;

    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/card_bg.png');
    background-position: center -0;
      background-size: 100%;



      .card--race & { background-image: url('../assets/images/card_bg_talent.png'); }
      .card--item & { background-image: url('../assets/images/card_bg.png'); }
      .card--wounds & { background-image: url('../assets/images/card_bg_wounds.png'); }
      .card--ability & { background-image: url('../assets/images/card_bg_ability.png'); }
      .card--equipment & { background-image: url('../assets/images/card_bg_equipment.png'); }
      .card--quest & { background-image: url('../assets/images/card_bg_quest.png'); }
      .card--event & { background-image: url('../assets/images/card_bg_event.png'); }
      .card--monster & { background-image: url('../assets/images/card_bg_monster.png'); }
      .card--insane & { background-image: url('../assets/images/card_bg_insane.png'); }
      .card--talent & { background-image: url('../assets/images/card_bg_talent.png'); }
      .card--knowledge & { background-image: url('../assets/images/card_bg_wissen.png'); }


      &--insane {
        position: absolute;
    width: 100%;
    height: 100%;
        background-image: url('../assets/images/card_insane.png');
        background-position: center -0;
          background-size: 100%;
      }

      &--mana {
        position: absolute;
    width: 100%;
    height: 100%;
        background-image: url('../assets/images/card_mana.png');
        background-position: center -0;
          background-size: 100%;
      }

  }



// ==========================================================================
// Card Image
// ==========================================================================
// 1. Styles
//

$card-color-bg: $color-black;
$card-image-height: 75%;
$card-image-spacing-bottom: 100% - $card-image-height;

// 1. Styles
.card__image {


  height: 100%;
  position: absolute;
  background: black;
  z-index: -2;
  width: 100%;

  &-inner {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    z-index: -1;
    background: black;
    height: $card-image-height;
    height: 273px;
    top: 58px;
    width: 100%;
    .card--large & {
      width: 52%;
    transform: translate(-96%);
    }
  }

  img,
  .card__image-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:after {
    content: "";
    box-shadow: inset 0px -100px 50px -25px $color-black;
    position: absolute;
    bottom: 0;
    height: $card-image-spacing-bottom;
    left: 0;
    right: 0;
    bottom: $card-image-spacing-bottom;
  }
}
