   <div class="card__layout">
        {% if child.mana is not empty %}
            <div class="card__layout--mana"></div>
        {% endif %}
        {% if child.insane is not empty %}
            <div class="card__layout--insane"></div>
        {% endif %}
    </div>

    {# Image #}
    <div class="card__image">
        <div class="card__image-inner">
        {% if child.image is  empty %}
             {% block image %}{% endblock %}
        {% else %}
            {{child.image | raw}}
        {% endif %}
        </div>
    </div>
